<mat-card class="header-card">
	<div class="header-left">
		<mat-slide-toggle color="primary" (change)="onFilterChange($event)">Show completed</mat-slide-toggle>
	</div>
	<div class="header-right">
		<button class="add-button" mat-fab color="primary" (click)="addButtonClicked()">
			<mat-icon>
				add
			</mat-icon>
		</button>
	</div>
</mat-card>
<div class="top-empty-space">

</div>
<div *ngFor="let item of getItemsFiltered()">
	<mat-card class="item-card">
		<div class="text-container">
			<a class="item-link" [routerLink]="getItemRoute(item)" [queryParams]="getItemQueryParams(item)">
				<mat-icon *ngIf="item.completed" color="primary">
					check_circle
				</mat-icon>
				<span>
					{{item.name}} ({{getExpiresText(item)}})
				</span>
			</a>
		</div>
		<div class="icon-container">
			<div *ngIf="!item.completed">
				<button mat-icon-button (click)="deleteButtonClicked(item)">
					<mat-icon>
						delete
					</mat-icon>
				</button>
			</div>
			<div *ngIf="!item.completed">
				<button mat-icon-button (click)="completedButtonClicked(item)">
					<mat-icon>
						done
					</mat-icon>
				</button>
			</div>
		</div>
	</mat-card>
</div>