<div class="page-header">
	<div class="header-inner mod-menu-closed" *ngIf="!isMenuOpen">
		<button class="btn mod-rounded" (click)="toggleMenu()">
			<fa-icon [icon]="icons.menu"></fa-icon>
		</button>
		<button class="btn mod-rounded add-icon">
			<fa-icon [icon]="icons.add" (click)="addItem()"></fa-icon>
		</button>
	</div>
	<div class="header-inner mod-menu-open" *ngIf="isMenuOpen">
		<div class="no-padding">
			<button class="btn mod-rounded" (click)="toggleMenu()">
				<fa-icon [icon]="icons.close"></fa-icon>
			</button>
		</div>
		<div class="checkbox">
			<input id="activeOnly" type="checkbox" [formControl]="activeOnlyControl">
			<label for="activeOnly">Show active only</label>
		</div>
		<div>
			<button class="btn btn-primary" (click)="signOut()">
				<fa-icon [icon]="icons.signOut"></fa-icon>
				Sign out
			</button>
		</div>
	</div>
</div>

<div *ngFor="let item of (items | async)">
	{{item | json}}
</div>
<!-- <mat-card class="header-card">
	<div class="header-left">
		<mat-slide-toggle color="primary" (change)="onFilterChange($event)">Show completed</mat-slide-toggle>
	</div>
	<div class="header-right">
		<button class="button" mat-fab color="primary" (click)="addButtonClicked()">
			<mat-icon>
				add
			</mat-icon>
		</button>
		<button class="button" mat-fab color="primary" (click)="logoutClicked()">
			<mat-icon>
				exit_to_app
			</mat-icon>
		</button>
	</div>
</mat-card>
<div class="top-empty-space">

</div>
<div *ngFor="let item of getItemsFiltered()">
	<mat-card class="item-card" [ngClass]="getColorClass(item)">
		<div class="text-container">
			<a class="item-link" [routerLink]="getItemRoute(item)" [queryParams]="getItemQueryParams(item)">
				<mat-icon *ngIf="item.completed" color="primary">
					check_circle
				</mat-icon>
				<span>
					{{item.name}} ({{getExpiresText(item)}})
				</span>
			</a>
		</div>
		<div class="icon-container">
			<div *ngIf="!item.completed">
				<button mat-icon-button (click)="deleteButtonClicked(item)">
					<mat-icon>
						delete
					</mat-icon>
				</button>
			</div>
			<div *ngIf="!item.completed">
				<button mat-icon-button (click)="completedButtonClicked(item)">
					<mat-icon>
						done
					</mat-icon>
				</button>
			</div>
		</div>
	</mat-card>
</div> -->