$header-height: 56px;

.header-card {
	box-sizing: border-box;
	display: flex;
	margin: 10px;
	padding: 10px 10px 10px 20px;
	position: fixed;
	top: 0;
	width: calc(100% - 20px);
	z-index: 1;

	.header-left {
		flex-grow: 1;
		height: $header-height;
		line-height: $header-height;
	}

	.header-right {
		flex-grow: 0;

		.add-button {
			height: $header-height;
		}
	}
}

.top-empty-space {
	height: 70px;
}

.item-card {
	margin: 10px;
	min-height: 40px;
	padding: 10px 10px 10px 20px;

	.food-item-container {
		display: flex;

		&:hover {
			cursor: pointer;
		}

		.icon-container {
			position: relative;
		}

		.text-container {
			flex-grow: 1;
		}
	}
}

.justify-center {
	display: flex;
	flex-direction: row;
	align-items: center;
}

a {
	color: inherit;
	text-decoration: inherit;
}
