.header-inner {
	&.mod-menu-closed {
		display: flex;
		justify-content: space-between;
	}

	&.mod-menu-open {
		padding-bottom: 1rem;

		.checkbox {
			padding-bottom: 0.5rem;
		}

		div {
			padding-left: 1rem;

			&.no-padding {
				padding-left: 0;
			}
		}
	}
}

.list-item {
	display: flex;
	align-items: center;
	background-color: white;
	margin: 0.5rem;
	min-height: 50px;

	.action {
		flex: 1;
		display: flex;
		justify-content: flex-end;
	}
}
