@import "../styles/imports.scss";

.progress-overlay {
	position: absolute;
	z-index: 10;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;

	
	.progress {
		height: 5px;
		
		.progress-bar {
			width: 100%;
			background-color: $primary;
		}
	}
}