<mat-card class="item-card">
	<mat-form-field>
		<input matInput placeholder="Name" [formControl]="form.name" required>
		<mat-error *ngIf="form.name.hasError('required')">
			This field is required
		</mat-error>
	</mat-form-field>

	<mat-form-field>
		<input matInput [matDatepicker]="picker" placeholder="Expires on" [formControl]="form.expiresOn" required>
		<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
		<mat-datepicker #picker></mat-datepicker>
		<mat-error *ngIf="form.expiresOn.hasError('required')">
			This field is required
		</mat-error>
	</mat-form-field>

	<mat-form-field class="readonly-form-field">
		<input matInput placeholder="Added" [formControl]="form.added" [disabled]="true">
	</mat-form-field>

	<div class="buttons-container">
		<div class="flex-empty"></div>

		<button class="action-button" mat-fab color="accent" (click)="backButtonClicked()">
			<mat-icon>
				arrow_back
			</mat-icon>
		</button>

		<button class="action-button" *ngIf="item && item.key && !item.completed" mat-fab color="primary" (click)="deleteButtonClicked()">
			<mat-icon>
				delete
			</mat-icon>
		</button>

		<button class="action-button" *ngIf="item && item.key && !item.completed" mat-fab color="primary" (click)="completeButtonClicked()">
			<mat-icon>
				done
			</mat-icon>
		</button>

		<button class="action-button" *ngIf="!item || !item.completed" mat-fab color="primary" (click)="saveButtonClicked()">
			<mat-icon>
				save
			</mat-icon>
		</button>
	</div>
</mat-card>