.item-card {
	margin: 10px;
	padding: 20px;

	.buttons-container {
		display: flex;

		.action-button {
			margin-left: 20px;
		}

		.flex-empty {
			flex-grow: 1;
		}
	}

	.mat-form-field {
		width: 100%;
	}

	.readonly-form-field {
		input {
			color: black;
		}
	}
}
