/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/scss/bootstrap.scss";

.text-input {
	display: flex;

	label {
		flex: 0;
		min-width: 120px;
	}

	input {
		flex: 1;
	}
}
