/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/scss/bootstrap.scss";

.text-input {
	display: flex;

	label {
		flex: 0;
		min-width: 120px;
	}

	input {
		flex: 1;
	}
}

.checkbox {
	label {
		margin-left: .6rem;
	}
}

.btn.mod-rounded {
	border-radius: 500px;
	margin: 5px;
}

.page-header {
	background-color: white;
	border-bottom: 1px solid #00000030;
}

body {
	background-color: #f4f4f4;
}